h1{
    font-size: 40px;
    margin:5px;
    padding-top: 40px;
}
.top, h1{
    text-align: center;
    background-color:rgb(87, 250, 209);
}
.middle{
    padding-bottom: 40px;
}
input{
    border-radius: 30px;
    width: 75%;
    padding: 10px;
    font-size: 20px;
}

button{
    background-color: #ddd;
    color: black;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

input, button{
    border: none;
}

button:hover{
    color: white;
}

span{
    font-size: 34px;
    float: left;
    width: 88%;
    margin-left: 10px;
    margin-top: 5px;
}

span:hover, button:hover{
    background-color: rgba(128, 128, 128, 0.479);
    
}

#done span{
    width: 93.5%;
}

span, button{
    transition: 0.5s;
    cursor: pointer;
}


details > summary::-webkit-details-marker {
    display: none;
}

#list, #done {
    animation: open .5s ease-in-out;
}

@keyframes open {
    0% {opacity: 0; margin-top: -20px}
    100% {opacity: 1; margin-top: 0px}
}