body{
    padding: 10px;
    
}

.top{
  text-align: center;
  padding-bottom: 20px;
}

h1{
  font-size: 50px;
}

button{
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 12px;
  border-radius: 30px;
}

input{
  font-size: 20px;
  width: 60%;
  padding: 10px;
  border-radius: 30px;
}

select{
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
}

img{
    height: 360px;
    width: 100%;
    object-fit: cover;
}
p{
    text-align: center;
}

.main{
    cursor: pointer;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 830px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 700px) {
    #container {
      grid-template-columns: 1fr;
    }
  }
  